In [1]:
import pandas as pd

train = pd.read_csv('train.csv')
dev = pd.read_csv('dev.csv')

In [2]:
print(min(train['date']))
print(max(train['date']))

2004-10-20
2015-01-07

In [3]:
print(min(dev['date']))
print(max(dev['date']))

2005-03-13
2015-01-07

#### Conclusion: Train and dev were not split using a timeline method. Train contains reviews from 2004-2015, Dev contains reviews from 2005-2015.

In [4]:
# checking each ex_id in train is unique
print(len(train))
len(train['ex_id'].unique())

250874

250874

In [5]:
# checking each ex_id in dev is unique
print(len(dev))
len(dev['ex_id'].unique())

35918

35918

In [6]:
# checking that the intersection of train['ex_id'] and dev['ex_id'] is empty
s1 = set(train['ex_id'])
s2 = set(dev['ex_id'])
s1.intersection(s2)

set()

#### Conclusions: Ex_id is unique for each dataset, and when two datasets are combined. There is no overlap in ex_id between train and dev.

# Downsampling Demo

In [7]:
from downsample import downsample

In [8]:
# original dataset
train['label'].value_counts()

0    225055
1     25819
Name: label, dtype: int64

In [9]:
downsampled_df = downsample(train, 50)
downsampled_df['label'].value_counts()

1    25819
0    25819
Name: label, dtype: int64

In [10]:
downsampled_df.head()

,ex_id,user_id,prod_id,rating,label,date,review
0,0,923,0,3.0,1,2014-12-08,The food at snack is a selection of popular Gr...
1,1,924,0,3.0,1,2013-05-16,This little place in Soho is wonderful. I had ...
2,2,925,0,4.0,1,2013-07-01,ordered lunch for 15 from Snack last Friday. ...
3,3,926,0,4.0,1,2011-07-28,This is a beautiful quaint little restaurant o...
4,4,927,0,4.0,1,2010-11-01,Snack is great place for a casual sit down lu...